@import url('https://fonts.googleapis.com/css?family=Eater&display=swap');

h1 {
  color: rgb(70, 4, 145);
  font-family: 'Eater', cursive;
  font-size: 50px;
  letter-spacing: 20px;
  }

body {
  justify-content: center;
  background-image: url(https://miro.medium.com/v2/resize:fit:4800/format:webp/1*k8qioJACPkXy36aPrgg1ig.jpeg);
}

.strike {
  text-decoration: line-through;
}

#myInput {
  width: 85%;
}

.close {
  cursor: pointer;
  border-radius: 10px;
  float: right;
}

#restaurant {
  margin: auto;
  background-color: #ff98ee;
  width: 50%;
  border: 5px solid #000000;
  padding: 10px
}

#sign {
  margin: auto;
  width: 50%;
  padding: 10px
}

.lounge {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 5px;
}

.tables {
  margin: auto;
  width: 50%;
  padding: 3px;
  border-radius: 20px;
}

.todo {
  margin: 2px;
  background-color: #fff;
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.strike {
  text-decoration-color: #ff0000;
  background-color: #808080;
}