h1 {
  color: rgb(0, 2, 128);
}

body {
  justify-content: center;
}

.strike {
  text-decoration: line-through;
}

#myInput {
  width: 85%;
}

.close {
  cursor: pointer;
  border-radius: 10px;
  float: right;
}

#restaurant {
  margin: auto;
  width: 50%;
  border: 5px solid #000000;
  padding: 10px
}

#Sign {
  margin: auto;
  width: 50%;
  padding: 10px
}

.lounge {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 5px;
}

.tables {
  margin: auto;
  width: 50%;
  padding: 3px;
  border-radius: 20px;
}

.todo {
  margin: 2px;
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.strike {
  text-decoration-color: #ff0000;
  background-color: #808080;
}